<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 b-r">
            <i class="fa fa-times pull-right" style="cursor:pointer" ng-click="$dismiss()"></i>
            <h3 class="m-t-none m-b">{{'Add_Estate'|lowercase|translate}}</h3>
            <form method="get" class="form-horizontal" name="frmestatePropertyAdd" novalidate ng-submit="estateProperty.addNewRow(frmestatePropertyAdd)">
                <tabset class="tabs-left">
                    <tab heading="{{'necessary_information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="estateProperty.CheckAccessAdd('RecordStatus')" ng-class="{'has-error' : frmestatePropertyAdd.RecordStatus.$invalid && !frmestatePropertyAdd.RecordStatus.$pristine,'has-success' : frmestatePropertyAdd.RecordStatus.$valid}">
                                <label class="col-sm-2 control-label"> {{'condition'|lowercase|translate}} </label>
                                <div class="col-sm-10" rasha-record-status="estateProperty"></div>
                            </div>

                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'ESTATE_TYPE'|lowercase|translate}}
                                </label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="LinkPropertyTypeId" ng-model="estateProperty.selectedItem.LinkPropertyTypeId" ng-change="estateProperty.onPropertyTypeChange(estateProperty.selectedItem.LinkPropertyTypeId)">
                                        <option ng-repeat="x in estateProperty.propertyTypeListItems" ng-selected="estateProperty.selectedItem.LinkPropertyTypeId == x.Id" value="{{x.Id}}">{{x.Title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="estateProperty.CheckAccessAdd('Title')" ng-class="{'has-error' : frmestatePropertyAdd.Title.$invalid && !frmestatePropertyAdd.Title.$pristine,'has-success' : frmestatePropertyAdd.Title.$valid}">
                                <label class="col-sm-2 control-label"> {{'title'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control" ng-required="true" name="Title" ng-model="estateProperty.selectedItem.Title" />
                                    <div class="m-t-xs" ng-show="frmestatePropertyAdd.Title.$invalid">
                                        <small class="text-danger" ng-show="frmestatePropertyAdd.Title.$error.required"><i class="fa fa-exclamation-triangle"></i>
                                            {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmestatePropertyAdd.Title.$valid && frmestatePropertyAdd.Title.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmestatePropertyAdd.Title.$invalid && !frmestatePropertyAdd.Title.$pristine) || frmestatePropertyAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="estateProperty.CheckAccessAdd('Area')" ng-class="{'has-error' : frmestatePropertyAdd.Area.$invalid && !frmestatePropertyAdd.Area.$pristine,'has-success' : frmestatePropertyAdd.Area.$valid}">
                                <label class="col-sm-2 control-label"> {{'area'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control" ng-required="true" name="Area" type="number" ng-model="estateProperty.selectedItem.Area" />
                                    <div class="m-t-xs" ng-show="frmestatePropertyAdd.Area.$invalid">
                                        <small class="text-danger" ng-show="frmestatePropertyAdd.Area.$error.required"><i class="fa fa-exclamation-triangle"></i>
                                            {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmestatePropertyAdd.Area.$valid && frmestatePropertyAdd.Area.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmestatePropertyAdd.Area.$invalid && !frmestatePropertyAdd.Area.$pristine) || frmestatePropertyAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>




                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="estateProperty.propertyTypeItemSelect.TitleCreatedYaer && estateProperty.propertyTypeItemSelect.TitleCreatedYaer.length>0 && estateProperty.CheckAccessAdd('CreatedYaer')">
                                <label class="col-sm-2 control-label"> {{estateProperty.propertyTypeItemSelect.TitleCreatedYaer}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="number" name="CreatedYaer" ng-model="estateProperty.selectedItem.CreatedYaer" />
                                </div>
                            </div>

                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="estateProperty.propertyTypeItemSelect.TitlePartition && estateProperty.propertyTypeItemSelect.TitlePartition.length>0 && estateProperty.CheckAccessAdd('Partition')">
                                <label class="col-sm-2 control-label"> {{estateProperty.propertyTypeItemSelect.TitlePartition}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="number" name="Partition" ng-model="estateProperty.selectedItem.Partition" />
                                </div>
                            </div>


                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-class="{'has-error' : frmestatePropertyAdd.Description.$invalid && !frmestatePropertyAdd.Description.$pristine,'has-success' : frmestatePropertyAdd.Description.$valid}">
                                <label class="col-sm-2 control-label"> {{'description'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="Description" ng-required="true" title="{{'Added_Description_On_Estate'|lowercase|translate}}" ng-model="estateProperty.selectedItem.Description" style="resize: vertical;height: 65px;"></textarea>
                                    <div class="m-t-xs" ng-show="frmestatePropertyAdd.Description.$invalid">
                                        <small class="text-danger" ng-show="frmestatePropertyAdd.Description.$error.required"><i class="fa fa-exclamation-triangle"></i>
                                            {{'this_information_is_required'|lowercase|translate}} </small>
                                    </div>
                                    <span style="left: 10px !important;" ng-show="frmestatePropertyAdd.Description.$valid && frmestatePropertyAdd.Description.$dirty" class="fa fa-check form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                    <span style="left: 10px !important;" ng-show="(frmestatePropertyAdd.Description.$invalid && !frmestatePropertyAdd.Description.$pristine) || frmestatePropertyAdd.submitted" class="fa fa-exclamation-triangle form-control-feedback animated fadeInLeft color-primary" aria-hidden="true"></span>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Further_Information' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div ng-show="estateProperty.CheckAccessEdit('LinkPropertyTypeId')>-1 ">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> {{'ESTATE_TYPE'|lowercase|translate}}
                                    </label>
                                    <div class="col-sm-10">
                                        <input ng-repeat="x in estateProperty.propertyTypeListItems" ng-if="estateProperty.selectedItem.LinkPropertyTypeId == x.Id" value="{{x.Title}}" class="form-control" style="background-color: white; font-weight: bold;" name="LinkPropertyTypeId" readonly="readonly" />
                                    </div>
                                </div>
                                <!--GroupList-->
                                <div ng-repeat="x in estateProperty.propertyDetailGroupListItems" class="back2">

                                    <h4 style="color: dodgerblue;">{{x.Title}}</h4>
                                    <!--DetileValueList-->
                                    <div ng-repeat="y in estateProperty.propertyDetailsListItems | filter: {LinkPropertyDetailGroupId:  x.Id }">
                                        <div class='hr-line-dashed'></div>
                                        <div class="form-group">
                                            <label ng-show="!y.InvisibleForEndUser" class="col-sm-2 control-label">{{y.Title}}&nbsp;</label>
                                            <label ng-show="y.InvisibleForEndUser" class="col-sm-12 control-label" style="color:red">{{y.Title}}&nbsp;{{'Hidden_Information_From_The_End_User'|lowercase|translate}}</label>
                                            <div class="col-sm-10">
                                                <div ng-if="estateProperty.inputTypeArrayCheck(y.InputDataType) == 'String' && y.ConfigValueDefaultValue.length == 0">
                                                    <input id="detail{{y.Id}}" class="form-control" type="text" ng-model="y.value" ng-required="y.Required" placeholder="{{y.Unit}}" />
                                                </div>
                                                <div ng-if="estateProperty.inputTypeArrayCheck(y.InputDataType) == 'TextArea' && y.ConfigValueDefaultValue.length == 0">
                                                    <textarea id="detail{{y.Id}}" class="form-control" ng-model="y.value" ng-required="y.Required" placeholder="{{y.Unit}}" style="resize:vertical;height:65px;"></textarea>
                                                </div>
                                                <div ng-if="estateProperty.inputTypeArrayCheck(y.InputDataType) == 'Int' && y.ConfigValueDefaultValue.length == 0">
                                                    <input id="detail{{y.Id}}" class="form-control" type="number" ng-model="y.value" ng-required="y.Required" placeholder="{{y.Unit}}" />
                                                </div>
                                                <div class="checkbox" ng-if="estateProperty.inputTypeArrayCheck(y.InputDataType) == 'Boolean'">
                                                    <label>
                                                        <input id="detail{{y.Id}}" type="checkbox" ng-model="y.value">{{'has_It'|lowercase|translate}}
                                                    </label>
                                                </div>
                                                <div class="m-t-xs" ng-if="y.Required">
                                                    <small class="text-danger"><i class="fa fa-exclamation-triangle"></i>{{'this_information_is_required'|lowercase|translate}}</small>
                                                </div>
                                                <div ng-if="y.ConfigValueMultipleChoice && y.ConfigValueForceUseDefaultValue && y.ConfigValueDefaultValue.length>0">
                                                    <div class="checkbox" ng-repeat="nameValue in y.ConfigValueDefaultValue">
                                                        <label>
                                                            <input type="checkbox" id="detail{{y.Id}}-nameValue{{$index}}" value="{{nameValue}}" name="{{y.Title}}" ng-checked="estateProperty.selection{{y.Id}}.indexOf(nameValue) > -1" ng-click="estateProperty.toggleSelection(y.Id, nameValue)">
                                                            {{nameValue}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div ng-if="!y.ConfigValueMultipleChoice && y.ConfigValueForceUseDefaultValue && y.ConfigValueDefaultValue.length>0">
                                                    <select class="form-control" id="dropDown{{y.Id}}">
                                                        <option ng-repeat="nameValue in y.ConfigValueDefaultValue" ng-model="y.value" ng-selected="y.value == nameValue" value="{{nameValue}}">{{nameValue}}</option>
                                                    </select>
                                                </div>
                                                <div ng-if="y.ConfigValueMultipleChoice  && !y.ConfigValueForceUseDefaultValue && y.ConfigValueDefaultValue.length>0">
                                                    <input type="text" list="cars" ng-model="y.value" class="form-control" />
                                                    <datalist id="cars">
                                                        <option ng-repeat="nameValue in y.ConfigValueDefaultValue">{{nameValue}}</option>
                                                    </datalist>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--GroupList-->
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'Place_Location' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="estateProperty.CheckAccessAdd('LinkLocationId')">
                                <label class="col-sm-2 control-label">{{'Position'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="LinkLocationId" rasha-autocomplete="estateProperty.LinkLocationIdSelector" ng-model="estateProperty.selectedItem.LinkLocationId" />
                                </div>
                            </div>

                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="estateProperty.CheckAccessAdd('Address')>-1 ">
                                <label class="col-sm-2 control-label"> {{'ADDRESS'|lowercase|translate}} </label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="Address" ng-model="estateProperty.selectedItem.Address" />
                                </div>
                            </div>
                            <div class='hr-line-dashed'></div>
                            <div class="form-group" ng-show="estateProperty.CheckAccessAdd('Geolocationlatitude')">
                                <label class="col-sm-2 control-label">{{'Position_On_The_Map'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <div rasha-map="estateProperty.GeolocationConfig" />
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                    <tab heading="{{'نوع معامله' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <!--contractsList-->
                            <div class='hr-line-dashed'></div>
                            <div class="col-sm-12 back1" ng-repeat="(index,x) in estateProperty.selectedItem.Contracts" style="margin-bottom:10px;">
                                <div ng-repeat="y in estateProperty.contractTypeListItems | filter: { Id: x.LinkEstateContractTypeId }">
                                    <h4 style="margin-top:10px;margin-bottom:20px">
                                        {{'Type_Of_Transaction_Heading'|lowercase|translate}}&nbsp;{{y.Title}}</h4>
                                    <div class="form-group" ng-show="y.HasSalePrice">
                                        <label class="col-sm-2 control-label">{{'sale_price'|lowercase|translate}}</label>
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control" ng-model="x.SalePrice" ng-required="y.HasSalePrice" />
                                        </div>
                                        <label class="col-sm-3 control-label">{{y.UnitSalePrice}}</label>
                                    </div>


                                    <div class="form-group" ng-show="y.HasDepositPrice">
                                        <label class="col-sm-2 control-label">{{'Deposit'|lowercase|translate}}</label>
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control" ng-model="x.DepositPrice" ng-required="y.HasDepositPrice" />
                                        </div>
                                        <label class="col-sm-3 control-label">{{y.UnitDepositPrice}}</label>
                                    </div>


                                    <div class="form-group" ng-show="y.HasRentPrice">
                                        <label class="col-sm-2 control-label">{{'rent'|lowercase|translate}}</label>
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control" ng-model="x.RentPrice" ng-required="y.HasRentPrice" />
                                        </div>
                                        <label class="col-sm-3 control-label">{{y.UnitRentPrice}}</label>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{'description'|lowercase|translate}}</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" name="yDescription" ng-model="x.Description" style="resize: vertical;height: 100px;"></textarea>
                                        </div>
                                        <div class="col-sm-2">

                                            <button type="button" class="btn btn-danger" style="margin:2px 5px 10px 0px;float:left" title="{{'delete'|lowercase|translate}}" ng-disabled="estateProperty.addRequested" ng-click="estateProperty.deleteContract(index)" ng-show="estateProperty.Access.AccessDeleteRow"><i class="fa fa-remove" aria-hidden="false"></i></button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!--contractsList-->

                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'ADVERTISING_TYPE'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="estateProperty.contract.LinkEstateContractTypeId" ng-change="estateProperty.onContractTypeChange(estateProperty.contract.LinkEstateContractTypeId)">
                                        <option ng-repeat="x in estateProperty.contractTypeListItems" value="{{x.Id}}">
                                            {{x.Title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-show="estateProperty.contract.HasSalePrice">
                                <label class="col-sm-2 control-label">{{'sale_price'|lowercase|translate}}</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" name="SalePrice" ng-model="estateProperty.contract.SalePrice" />
                                </div>
                                <label class="col-sm-3 control-label">{{estateProperty.contract.UnitSalePrice}}</label>
                            </div>

                            <div class="form-group" ng-show="estateProperty.contract.HasDepositPrice">
                                <label class="col-sm-2 control-label">{{'Deposit'|lowercase|translate}}</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" name="DepositPrice" ng-model="estateProperty.contract.DepositPrice" />
                                </div>
                                <label class="col-sm-3 control-label">{{estateProperty.contract.UnitDepositPrice}}</label>
                            </div>
                            <div class="form-group" ng-show="estateProperty.contract.HasRentPrice">
                                <label class="col-sm-2 control-label">{{'rent'|lowercase|translate}}</label>

                                <div class="col-sm-7">
                                    <input type="number" class="form-control" name="RentPrice" ng-model="estateProperty.contract.RentPrice" />
                                </div>
                                <label class="col-sm-3 control-label">{{estateProperty.contract.UnitRentPrice}}</label>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'description'|lowercase|translate}}</label>
                                <div class="col-sm-10">
                                    <textarea id="contractDescription" class="form-control" name="Description" ng-model="estateProperty.contract.Description" style="resize: vertical;height: 100px;"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-primary col-md-offset-2 col-md-10" type="button" ng-disabled="estateProperty.addRequested" ng-click="estateProperty.addContract()">{{'RECORD'|lowercase|translate}}</button>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>






















                    <tab heading="{{'Attachments_Files' |lowercase|translate}}">
                        <div class="panel-body">
                            <!--tabStart-->
                            <div class='hr-line-dashed'></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'MAIN_IMAGE'|lowercase|translate}} </label>
                                <a class="btn btn-primary uoload-file-m" href="" ng-click="estateProperty.openUploadModal()" aria-label="Upload">
                                    {{'UPLOAD'|lowercase|translate}}
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </a>
                                <div class="col-sm-8 smallFileManager">
                                    <div rasha-file-picker-b="estateProperty.filePickerMainImage" ng-model="estateProperty.selectedItem.LinkMainImageId">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{'ATTACH_FILE'|lowercase|translate}} </label>
                                <div class="col-sm-8 smallFileManager">
                                    <div rasha-file-picker-b="estateProperty.filePickerFiles" ng-model="estateProperty.selectedItem.LinkFileIds"></div>
                                </div>
                                <div class="col-sm-2">
                                    <a class="btn btn-primary" ng-click="estateProperty.addAttachedFile(estateProperty.selectedItem.LinkFileIds)" style="margin-right: -52px;margin-top: 1px;" title="">
                                        <i class="fa fa-" aria-hidden="true" title="{{'ADD_FILE'|lowercase|translate}}" style="font-family: iransans;font-size: 12px;">
                                            {{'ADD_FILE'|lowercase|translate}} </i>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group col-sm-12" ng-repeat="x in estateProperty.attachedFiles">
                                    <label class="col-sm-2 control-label">{{$index + 1}}</label>
                                    <div class="input-group">
                                        <input type="text" id="option{{$index}}" class="form-control" name="attachedFileName" readonly="readonly" ng-model="x.filename">
                                        <span class="input-group-addon danger" style="background-color:#ed5565; cursor:pointer" title="{{'delete'|lowercase|translate}}" ng-click="estateProperty.deleteAttachedFile($index)"><i class="fa fa-remove"> {{'delete'|lowercase|translate}} </i></span>
                                    </div>
                                </div>
                            </div>
                            <!--tabEnd-->
                        </div>
                    </tab>
                </tabset>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="estateProperty.addRequested" type="submit">
                        {{'save'|lowercase|translate}} </button>
                    <button class="btn btn-default" type="button" ng-click="$dismiss()">{{'cancel'|lowercase|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>